<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_cheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{137,1},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_chuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,78}</string>
                <key>spriteSourceSize</key>
                <string>{63,78}</string>
                <key>textureRect</key>
                <string>{{540,1},{63,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,78}</string>
                <key>spriteSourceSize</key>
                <string>{67,78}</string>
                <key>textureRect</key>
                <string>{{405,1},{67,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{269,1},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_guan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{335,1},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_shu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{474,1},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{605,1},{68,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,80}</string>
                <key>textureRect</key>
                <string>{{68,1},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{200,1},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>word.png</string>
            <key>size</key>
            <string>{674,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ed4c6984cb7b29462657fc249e7de8:327bdba39fe45dd81f4dba97c5de72f9:b1cac0f65344e7e523bd206211506128$</string>
            <key>textureFileName</key>
            <string>world.png</string>
        </dict>
    </dict>
</plist>
